h1{
    font-family: 'Vollkorn SC', serif;
    text-align: center;
    font-size: 4em;
    color: white;
    margin-top: 25vh;
    border: 2px solid black;
}

img{
    display: block;
    margin: auto;
    border: 5px solid white;
    border: 2px solid black;
}

body{
    height: 100vh;
    background: rgb(22, 94, 40); 
    background: -webkit-linear-gradient(rgb(22, 94, 40), rgb(20, 100, 105)); 
    background: -o-linear-gradient(rgb(22, 94, 40), rgb(20, 100, 105));
    background: -moz-linear-gradient(rgb(22, 94, 40), rgb(20, 100, 105));
    background: linear-gradient(rgb(22, 94, 40), rgb(20, 100, 105));
}